# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: postgresql
  pool: 5
  host: <%= ENV['POSTGRES_HOST'] %>
  username: <%= ENV['POSTGRES_USERNAME'] %>
  db: <%= ENV['POSTGRES_DB'] %>
  timeout: 5000

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
